*.igs
*.htm*
*.txt
Debug
Release
*.xli
*.dll
*.exe
*.exp
*.ilk
*.lib
*.ncb
*.log
*.pdb
*.vcproj.*.user
[Dd]ebug
[Rr]elease
*.tt
*.tx
ipch
*.user
*.suo
*.plg
*.opt
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
*.[oa]
*~
Thumbs.db
*.dll
*.exe
Makefile
Makefile.Debug
Makefile.Release
object_script.*
build/
release/*
debug/*
ui_*
*pro.user*
